@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0 auto;
  @apply bg-dark;
  @apply text-lightBlueGray;
}

h1 {
  @apply text-3xl sm:text-4xl;
}

h2 {
  @apply text-2xl sm:text-3xl;
}

h3 {
  @apply text-xl md:text-2xl;
}

h4 {
  @apply text-xl;
}

p {
  @apply text-base sm:text-lg;
}

@layer utilities {
  .gradient-text {
    @apply from-blueGreen-100 via-blueGreen-200 to-blueGreen-300 bg-gradient-to-r;
    background-size: 300% 300%;
    background-clip: text;
  }
}
